@charset "utf-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike,  sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video{margin: 0;padding: 0;border: 0;vertical-align: baseline;font-style:normal;font-weight:normal;font: inherit;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,.footer, .header, hgroup, menu, nav, section {display: block;}
ol, ul,li {list-style: none;}
blockquote,q {quotes: none;}
a{text-decoration:none;color: #666;-webkit-transition: all .4s ease;transition: all .4s ease;-ms-transition: all .4s ease;-moz-transition: all .4s ease;}
a:focus{ outline:none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse;border-spacing: 0;}
textarea{resize: none;outline:none;}
input,textarea{outline:none;-webkit-appearance: none;font-family:"Microsoft YaHei","微软雅黑","sans-serif",'Arial';}
img {border: 0;display:block;max-width:100%;}
*,*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
.conten_box{-webkit-box-sizing: content-box;-moz-box-sizing: content-box; box-sizing: content-box;}
/*--------------css animation--------------*/
.trans {-webkit-transition: all .4s ease;-moz-transition: all .4s ease;-o-transition: all .4s ease;
  -ms-transition: all .4s ease;transition: all .4s ease;}
 .fl{float:left;}
 .fr{float:right;}
 .hide{display: none;}
 /*字体*/
  
@font-face {font-family: "iconfont";
  src: url(''); /* IE9*/
  src: url('') format('embedded-opentype'), /* IE6-IE8 */
  url('')
  url('') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('') format('svg'); /* iOS 4.1- */
}
.cursor-amc a{ 
cursor: default}
.cursor-amc{
	cursor: default
}
 
 
 
 
 
 
 

 [class^="iconfont-"], [class*=" iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
 -webkit-text-stroke-width: 0.2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
 @font-face {
    font-family: 'ITCAvantGardeProXLt';
    src: url('');
    src: url('') format('embedded-opentype'),
         url('') format('woff2'),
         url('') format('woff'),
         url('') format('truetype'),
         url('') format('svg');
}

 @font-face {
    font-family: 'DINOTCondBlack';
    src: url('');
    src: url('') format('embedded-opentype'),
         url('') format('woff2'),
         url('') format('woff'),
         url('') format('truetype'),
         url('') format('svg');
} 

/*清除浮动*/
.clear{clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:block;*zoom:1;}
html,body{height:100%;}
body{font-size: 14px;font-family:"Microsoft YaHei","微软雅黑",Arial,sans-serif;background:#FBFBFD;color: #666;}
/* 弹出提示信息*/
.tempMsg{position: absolute;z-index: 999;display: none; padding: 10px 30px;background:rgba(0,0,0,0.8);color: #FBFBFD;font-size: 14px;max-width: 600px;line-height: 30px;border-radius: 10px;}

/* 对话框 */
.tempConfirmShade{position: fixed;background: #1D1D1F;left: 0;top: 0;bottom: 0;right: 0;display:none;z-index: 950;}
.tempConfirm{position: fixed;background: #FBFBFDFFF;left: 0;top: 0;display:none;width:400px;text-align: left;z-index: 951;border-radius: .1rem;}
.tempConfirm .tempConfirmTitle{height: 50px;border-bottom: 1px #999999 solid;padding: 0 50px 0 20px;color: #676767;font-size: 16px;line-height: 50px;}
.tempConfirm .tempConfirmCloes{display:block;position: absolute;width: 50px;height: 50px;background: url("../images/close.html") no-repeat center center;background-size: 22px auto;top: 0;right: 0;}
.tempConfirm .tempConfirmContents{padding: 1px 0;}
.tempConfirm .tempConfirmButtonBox{
    text-align: center;height: 40px;margin:0 0 30px;
    flex-direction:row;justify-content:center;align-items:center;display: flex;
}
.tempConfirm .tempConfirmButtonBox a{display:block;height:40px;font-size: 16px;color: #FBFBFD;text-align: center;line-height:40px;width: 140px;background: #399EF5;border-radius: .1rem;margin: 0 20px;}
.tempConfirm .tempConfirmButtonBox.butOne a{margin: 0;width: 320px;}


.tempConfirm .popText{margin: 30px;font-size: 14px;line-height:30px;color: #282828;}
